{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 60.9196937,
    "longitude": 16.7235376,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Stockholm",
    "external_url": null,
    "internal_url": null,
    "currency": "SEK",
    "country": "SE",
    "language": "en",
    "radius": 100
  }
}